<div class="compcont m-0 p-5">
  <h1 class="abt">ABOUT COMPONENT</h1>
  <div class="linecon">
    <span class ="line"></span>
    <i class ="bi bi-star-fill icon"></i>
    <span class ="line"></span>

  </div>
  <p class="abtpara">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente praesentium repudiandae cupiditate id. Sint excepturi vel molestiae optio facere aut quia voluptate sequi similique error accusamus non esse asperiores, ipsum minima voluptatem ut quis sunt in, deserunt laudantium illum fugit. Mollitia nobis quisquam eos necessitatibus vitae, non dolorem error ducimus nam? Eum quas hic harum ab recusandae eos, eveniet illum ipsam eaque, unde sint assumenda odit. Dignissimos, possimus quisquam officiis laudantium sunt aliquam facilis ex, et eos, cupiditate quia debitis ipsam deleniti? Sed cum exercitationem voluptatibus assumenda iste rerum, vero doloremque, nulla sequi, ducimus error libero numquam ex nesciunt tempora!</p>
</div>
