 <div class="portcont">
  <h1 class="portf-title">CONTACT COMPONENT</h1>
  <div class="linecon colo">
    <span class ="lineport"></span>
    <i class ="bi bi-star-fill icon colo"></i>
    <span class ="lineport"></span>

  </div>
<form class="p-4">
  <div class="mb-4">
    <label for="userName">userName</label>
    <input type="text" id="userName" placeholder="">
  </div>

  <div class="mb-4">
    <label for="userAge">userAge</label>
    <input type="number" id="userAge" placeholder="">
  </div>

  <div class="mb-4">
    <label for="userEmail">userEmail</label>
    <input type="email" id="userEmail" placeholder="">
  </div>

  <div class="mb-4">
    <label for="userPassword">userPassword</label>
    <input type="password" id="userPassword" placeholder="">
  </div>
</form>
<div class="d-flex justify-content-center">
  <button type="submit" class="btn btn-primary">Submit</button>

</div>
</div>
