<nav class="navbar navbar-expand-lg  navbar-dark nvC sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand txtC fontC" href="" routerLink="/home" routerLinkActive="active">START FRAMEWORK</a>
    <button class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto me-0 mb-2 mb-lg-0 ">

        <li class="nav-item  ">
          <a class="nav-link txtC"  href="/about">ABOUT</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link txtC" href="/portfolio">PORTFOLIO</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link txtC" href="/contact">CONTACT</a>
        </li>


      </ul>
    </div>
  </div>
</nav>
<main class="p-0 m-0 w-100 d-flex flex-grow-1">
    <router-outlet></router-outlet>

</main>


<div class="row justify-content-center align-items-center">
  <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 border-top coF text-center text-md-start justify-content-center align-content-center">

    <div class="col mb-3">
      <h5>LOCATION</h5>
      <p>2215 John Daniel Drive<br>Clark, MO 65243</p>
    </div>

    <div class="col mb-3">
      <h5>AROUND THE WEB</h5>
    </div>

    <div class="col mb-3">
      <h5>ABOUT FREELANCER</h5>
      <p>Freelance is a free to use, licensed Bootstrap theme created by Route</p>
    </div>

  </footer>

  <div class="col text-center footC">
    <p>Copyright © Your Website 2021</p>
  </div>
</div>
