<div class="compcont m-0 p-5 portcont">
  <h1 class="portf-title">PORTFOLIO COMPONENT</h1>
  <div class="linecon colo">
    <span class ="lineport"></span>
    <i class ="bi bi-star-fill icon colo"></i>
    <span class ="lineport"></span>

  </div>
 <div class="row">
  <div class="col-12 col-md-4 mb-3 ">
    <div class="items">
      <div class="overlay">
        <i class="bi bi-plus-lg icon"></i>
      </div>
    <img src="assets/images/poert1.png" alt="" class="img-fluid w-100">
  </div>
  <div class="col-12 col-md-4 mb-3">
    <div class="items">
      <div class="overlay">
        <i class="bi bi-plus-lg icon"></i>
      </div>
    <img src="assets/images/port2.png" alt="" class="img-fluid w-100">
  </div>
  <div class="col-12 col-md-4 mb-3 ">
    <div class="items">
      <div class="overlay">
        <i class="bi bi-plus-lg icon"></i>
      </div>
    <img src="assets/images/port3.png" alt="" class="img-fluid w-100">
  </div>
  <div class="col-12 col-md-4 mb-3 ">
    <div class="items">
      <div class="overlay">
        <i class="bi bi-plus-lg icon"></i>
      </div>
    <img src="assets/images/poert1.png" alt="" class="img-fluid w-100">
  </div>
  <div class="col-12 col-md-4 mb-3 ">
    <div class="items">
      <div class="overlay">
        <i class="bi bi-plus-lg icon"></i>
      </div>
    <img src="assets/images/port2.png" alt="" class="img-fluid w-100">
  </div>
  <div class="col-12 col-md-4 mb-3 ">
    <div class="items">
      <div class="overlay">
      <i class="bi bi-plus-lg icon"></i>
      </div>
    <img src="assets/images/port3.png" alt="" class="img-fluid w-100">
  </div>
</div>

</div>
